

header{
    color: #ffffff;
    margin-left: 600px;
    margin-top: 80px;
}

body {
    background: #E5E5E5;
}

 body ::before{
    content: '';
    height: 368px;
    width: 100%;
    position: absolute;
    background-color:black;
    z-index: -1;
    left: 0px;
    top: 0px;
    
}
h1 {
    font-size: 36px;
    
}
p{
    color: #42D3FF;
    font-size: 16px;
}

form{
    position: absolute;
    margin-left: 600px;
    background: #ffffff;
    height: 1750px;
    width: 736px;
    border-radius: 8px;
    margin-top: 42px;
    padding-left: 64px;
    
    
}

h2{
    font-family: 'Archivo', sans-serif;
    color: #32264D;
    font-size: 24px;
    margin-top: 64px;
}

p{
    font-family: 'Poppins', sans-serif;
}

.page{
  
    display: flex;
    flex-direction: column;
}

.page2 input{
    width: 608px;
    height: 200px;
}

input{
    width: 608px;
    height: 56px;
    margin-top: 32px;
    border-radius: 8px;
    border: #c4c4cf 1px  solid;
    
   
}

label{
display: flex;
flex-direction:row;
margin-top: 24px;
margin-bottom: 8px;
color: #4E4958;
font-family: 'Poppins', sans-serif;

}

select{
    width: 608px;
    height: 56px;
    border: #c4c4cf 1px  solid;
}
.page3{
    display: flex;
    flex-direction: row;
    gap:16px;
   
}

.page3 label{
    margin-top: 34px;
}

.page3 input{
   
    width: 24px;
    height: 24px;
}

.date{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.date input{
    width: 128px;
    height: 88px;
    font-size: 16px;


}

.date .data input{
    width: 312px;
    height: 88px;
}

button{
    color: #ffffff;
    border: #04D361;
    background-color: #04D361;
    width: 608px;
    height: 56px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 40px;
}

footer{
    text-align: center;
    align-items: center;
    background-color:#F0F0F4;
    Width:800px;
    Height:136px;
    margin-top: 1805px;
    margin-left: 600px;
    border-radius: 8px;
}